body{
    margin: 0;
}

/* NAVBAR HORIZONTALE*/

#divBarNavHorizontale{
    width: 100%;
    height: 72px;
    background-color: #e60012;
    display: flex;
    position: fixed;
    border-bottom:solid 1px #6f0009;
}
#menu{
    margin-left: auto;
}

.menuBarNavHorizontale{
    text-align: center;
    fill: white;
    color: white;
    padding: 12px;
    font-size: 12px;
}

.menuBarNavHorizontale a{
    text-decoration: none;
    color: white;
    fill: white;
}

.menuBarNavHorizontale a:hover{
    text-decoration: underline;
}

.menuBarNavHorizontale p{
    margin: 0;
}
.menuBarNavHorizontale div{
    font-size: 27px;
}

#logoBarNavHorizontale{
    fill: white;
    color: white;
    padding: 25px;
    font-size: 24px;
}

/* NAVBAR VERTICALE*/
#divBarVerticale{
    width: 90px;
    height: 100vh;
    background-color: #6f0009;
    display: flex;
    position: fixed;
    z-index: -1;
    flex-direction: column;
    margin-top: 73px;
}

.menuBarVerticale{
    width: 90px;
    height: 90px;
    background-color: #e60012;
    border-bottom: solid 1px #6f0009;

}

.menuBarVerticale{
    text-align: center;
    fill: white;
    color: white;
    padding-top: 30px;
    font-size: 13px;
}

.menuBarVerticale a{
    text-decoration: none;
    color: white;
    fill: white;
}

.menuBarVerticale:hover{
    background-color: #d10000ef;
}

.menuBarVerticale p{
    margin: 0;
}
.menuBarVerticale div{
    font-size: 30px;
}

#menuBarVerticaleSocialNetwork{
    width: 90px;
    height: 45px;
    background-color: #e60012;
    border-bottom: solid 1px #6f0009;
    padding-top: 10px;
}

#menuBarVerticaleInfosDivers{
    width: 90px;
    height: 45px;
    background-color: #e60012;
    border-bottom: solid 1px #6f0009;
    padding-top: 10px;
}